body {
    font-family: "Lato", sans-serif;
    color: #D9CCC3;
    
li {
    cursor: pointer;
}

}
.container{
        background-color: #598059;
    
}

#title{
    color: #CFE6E6;
}

#map {
    width: 95%;
    height:100vh;
    background-color: #666699;
}

#filter{
    color: black;  
}

#firstHeading{
    color: #60BFBF; 
}

#content{
    color: black;  
}

}